[user]
	name = Xylong Zhang
	email = zhanghsl.it@foxmail.com

[alias]
	st = status
	br = branch
	cko = checkout
	df = diff
	cm = commit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
